.button-buy{
  cursor: pointer;
  border: 0;
  font-size: 16px;
  color: #fff;
  position: relative;
  overflow: visible;
  outline: 0;
  background: #ee4d2d;
  padding: 0 20px;
  &:hover{
    background: #f05d40;
  }
}

@media (max-width: 992px) {
  .css_step_one{
    padding-right: 0 !important;
  }
  
}