.container{
  padding: 6px 0;
  .wrapper{
    padding: 0px 24px;
    margin: 0px 24px;

    .User{
      cursor: pointer;
      padding: 5px 10px;
      border-radius: 5px;
      color: rgb(128, 128, 137);
      &:hover{
        background-color: #E5E5E5;
      }
    }
  }
}

.button-carts{
  cursor: pointer;
  border: 0;
  font-size: 16px;
  color: #fff;
  position: relative;
  overflow: visible;
  outline: 0;
  background: #ee4d2d;
  padding: 0 20px;
  &:hover{
    background: #f05d40;
  }
}

@media (max-width: 767px) {
  .dropdown_header{
    display: none !important;
  }
  .wrapper{
    padding: 0 !important;
    margin: 0 !important;
  }
}